<footer class="bg-dark text-white text-center py-4 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p style="color: #42dbf0; font-size: 35px">MySport GoEasy</p>
        <p style="color: gray; top: 0px; font-size: 14.1px">
          Crea e gestisci i tuoi tornei in maniera semplice ed intuitiva!
        </p>
        <p style="color: #aaa7a7; font-size: 16px">
          Il sito, l'app Android ed il programma Windows sono sempre in continuo
          aggiornamento. Speriamo di soddisfare le vostre esigenze!
        </p>
      </div>
      <div class="col-md-4">
        <div class="container" style="width: 50%">
          <p style="color: #42dbf0; font-size: 18px">Esplora</p>
          <a
            class="nav-link"
            href="/index.html"
            style="
              color: #aaa7a7;
              background-color: transparent;
              border-top: 2px solid white;
              font-size: 14px;
            "
            >Home</a
          >
          <a
            class="nav-link"
            style="
              color: #aaa7a7;
              background-color: transparent;
              border-top: 2px solid white;
              font-size: 14px;
            "
            href="/html/info.html"
            >Info&Download</a
          >
          <a
            class="nav-link"
            style="
              color: #aaa7a7;
              background-color: transparent;
              border-top: 2px solid white;
              font-size: 14px;
            "
            href="/html/tornei.html"
            >Tornei</a
          >
          <a
            class="nav-link"
            style="
              color: #aaa7a7;
              background-color: transparent;
              border-top: 2px solid white;
              font-size: 14px;
            "
            href="/html/manuale.html"
            >Manuale</a
          >
          <a
            class="nav-link"
            style="
              color: #aaa7a7;
              background-color: transparent;
              border-top: 2px solid white;
              font-size: 14px;
            "
            href="/html/about.html"
            >About</a
          >
        </div>
      </div>
      <div class="col-md-4">
        <p style="color: #42dbf0; font-size: 20px">Contattaci</p>
        <p style="color: gray; top: 0px; font-size: 14.1px">
          In caso di problemi di visulizzazione o di accesso ai dati vi
          preghiamo di inviare una email di segnalazione seguendo il link quì
          presente
        </p>
        <a href="mailto:eagle209@gmail.com">
          <i
            class="fa-regular fa-paper-plane fa-2xl"
            style="color: #42dbf0"
          ></i>
        </a>
      </div>
    </div>
    <div class="row text-center" style="border-top: 1px solid gray; margin-top: 10px;">
      <p style="color: #aaa7a7; font-size: 16px; margin:0 auto; margin-top: 10px;">&copy; 2024 Simone Mariano</p>
    </div>
  </div>
</footer>
