<!-- Cookie Banner -->
<div
id="cb-cookie-banner"
class="alert alert-dark text-center mb-0"
role="alert"
style="display: none;
    flex-direction: column;
    align-items: center;"
>
<p>
Questo sito utilizza cookie tecnici. <br />Proseguendo nella navigazione
accetti l’utilizzo dei cookie. <br />Per maggiori informazioni consulta
la nostra <br />
<a href="/html/cookie.html" target="blank">Informativa</a>.
</p>
<button
type="button"
id="cb-cookie-accept"
class="btn btn-success btn-sm"
style="margin: 0 auto;"
>
Accetta
</button>
</div>
<!-- End of Cookie Banner -->