<link rel="icon" type="image/x-icon" href="/images/Sports_Ball_Frame_MSGE.jpg" />

<nav id="navbar" class="navbar navbar-expand navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <!--Logo nella navbar-->
    <a href="/index.html" class="navbar-brand"
      ><img
        class="d-inline-block align-text-top rounded"
        src="/images/Sports_Ball_Frame_MSGE.jpg"
        alt=""
        width="40"
        height="40"
      />
    </a>
    <ul class="d-none d-sm-flex navbar-nav">
      <!--Link alla Home-->
      <li class="nav-item active">
        <a class="nav-link active" href="/index.html"> Home </a>
      </li>
      <!--Link a Info-->
      <li class="nav-item active">
        <a class="nav-link" href="/html/info.html"> Info & Download</a>
      </li>
      <!--Link a Tornei-->
      <li class="nav-item active">
        <a class="nav-link" href="/html/tornei.html"> Tornei </a>
      </li>
      <!--Link al Manuali-->
      <li class="nav-item active">
        <a class="nav-link" href="/html/manuale.html"> Manuale </a>
      </li>
      <!--Link alla About-->
      <li class="nav-item active">
        <a class="nav-link" href="/html/about.html"> About </a>
      </li>
    </ul>

    <!--Navbar dei telefoni-->
    <div class="d-block d-sm-none dropdown dropstart">
      <a
        class="btn btn-dropdown dropdown-toggle text-black text-center d-inline-block align-text-top rounded"
        href="#"
        role="button"
        id="dropdownMenuDropleft"
        data-bs-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <span class="navbar-toggler-icon"></span>
      </a>
      <div
        class="dropdown-menu dropdown-menu-dark"
        aria-labelledby="dropdownMenuDropleft"
      >
        <div class="link-list-wrapper">
          <ul class="link-list">
            <!--Link alla Home-->
            <li>
              <a class="dropdown-item list-item" href="/index.html"> Home </a>
            </li>
            <!--Link a Info-->
            <li>
              <a class="dropdown-item list-item" href="/html/info.html"> Info & Download </a>
            </li>
            <!--Link a Tornei-->
            <li>
              <a class="dropdown-item list-item" href="/html/tornei.html"> Tornei </a>
            </li>
            <!--Link al Manuali-->
            <li>
              <a class="dropdown-item list-item" href="/html/manuale.html"> Manuale </a>
            </li>
            <!--Link alla About-->
            <li>
              <a class="dropdown-item list-item" href="/html/about.html"> About </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
