<!-- QUESTO FILE VIENE USATO SOLO COME REFERENCE E NON E' REALMENTE COINVOLTO DURANTE L'UTILIZZO DEL SITO -->

<script>
    $(document).ready(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 50) {
          $("#back-to-top").fadeIn();
        } else {
          $("#back-to-top").fadeOut();
        }
      });
      // scroll body to 0px on click
      $("#back-to-top").click(function () {
        $("body,html").animate(
          {
            scrollTop: 0,
          },
          400
        );
        return false;
      });
    });
  </script>
  
  <a
    id="back-to-top"
    href="#"
    class="btn btn-light btn-lg back-to-top"
    role="button"
    style="position: fixed; bottom: 25px; right: 25px; display: none"
    ><i class="fa-solid fa-caret-up" style="color: black"></i></a
  >
  